* {
	font-size: 14px;
}

body,input,textarea {
	font-family: 微软雅黑, helvetica, tahoma, verdana, sans-serif;
	padding: 0;
	margin: 0;
}

input {
	height: 28px;
	line-height: 28px;
	border: #95B8E7 1px solid;
}

textarea {
	line-height: 28px;
	border: #95B8E7 1px solid;
}

.warn {
	background-color: #D8D828;
}
.error {
	background-color: #D82828;
}
.readonly {
	background: #d8d8d8;
}
.tree-title {
	font-size: 14px;
}

/*输入框提示文本*/
.tdRight {
	text-align: right;
	width: 110px;
}
/*长输入框*/
.longInputBox {
	width: 400px;
}

.longtext {
	width: 100%;
}

/*企业表格*/
.companyTable {
	width: 700px;
	margin-top: 20px;
	margin-left: 80px;
}
/*
	显示文本域
*/
.textField {
	border: 1px solid #A0A0A0;
	height: 100px;
	overflow-y: scroll;
}

.combobox-item {
	font-size: 14px;
}
/*重写easeui .combobox-item-hover 样式*/
.combobox-item-hover {
	cursor: pointer;
}

.combo .combo-text {
	font-size: 14px;
	height: 28px;
	line-height: 28px;
}

.datagrid-cell {
	height: 28px;
	line-height: 28px;
	font-size: 14px;
}

.companyTable input {
	width: 100%;
}

.selectall {
	width: 100%;
}
.tabs-panels {
	border-width: 0px;
	border-style: none;
}



/*打印列表 部分  表格部分*/
.print_tab ,.printBut{
	margin: auto;
	width: 850px;
	text-align: center;
}
.printBut {
	margin-top: 20px;
}
.print_outline{
	width: 100px;
}

.print_content{
	text-align:left;
	margin-left:5px;
	 width: 152px;
}
.printOverall{
		width: 1000px;
		text-align: center;
		margin:auto;
		margin-top: 50px;
	}

/*查询按钮*/
.findBut{
	margin: 10px 0 3px 10px;
}

.red_notice {
    color: #FF0000;
}
/*提示文本*/
.tipText{
	width: 90px;
text-align: right;
}
.workerListTip{
	
	width: 850px;
	margin-left: 10px;
}
.reportTitle{
	width: 90px;
}

