<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esd.hesf.dao.CompanyWorkerViewDao">
	
	<!-- result of company -->
	<resultMap id="ResultCompany" type="com.esd.hesf.model.Company">
		<id column="c_id" jdbcType="VARCHAR" property="id" />
		<id column="c_year" jdbcType="CHAR" property="year" />
		<id column="c_company_code" jdbcType="VARCHAR" property="companyCode" />
		<result column="c_company_name" jdbcType="VARCHAR" property="companyName" />
		<result column="c_company_legal" jdbcType="VARCHAR" property="companyLegal" />
		<result column="c_company_contact_person" jdbcType="VARCHAR" property="companyContactPerson" />
		<result column="c_company_organization_code" jdbcType="VARCHAR"
			property="companyOrganizationCode" />
		<result column="c_company_tax_code" jdbcType="VARCHAR" property="companyTaxCode" />
		<result column="c_company_address" jdbcType="VARCHAR" property="companyAddress" />
		<result column="c_company_zip_code" jdbcType="CHAR" property="companyZipCode" />
		<result column="c_company_phone" jdbcType="VARCHAR" property="companyPhone" />
		<result column="c_company_mobile" jdbcType="VARCHAR" property="companyMobile" />
		<result column="c_company_bank" jdbcType="VARCHAR" property="companyBank" />
		<result column="c_company_bank_account" jdbcType="VARCHAR" property="companyBankAccount" />
		<result column="c_company_remark" jdbcType="VARCHAR" property="companyRemark" />
		<result column="c_create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="c_update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="c_user_id" jdbcType="INTEGER" property="userId" />
		<result column="c_is_active" jdbcType="BIT" property="isActive" />
		<result column="c_version" jdbcType="INTEGER" property="version" />
	</resultMap>

	<!-- result of workers -->
	<resultMap id="ResultWorker" type="com.esd.hesf.model.Worker">
		<id column="w_id" jdbcType="INTEGER" property="id" />
		<result column="w_worker_name" jdbcType="VARCHAR" property="workerName" />
		<result column="w_worker_gender" jdbcType="VARCHAR" property="workerGender" />
		<result column="w_worker_birth" jdbcType="VARCHAR" property="workerBirth" />
		<result column="w_worker_id_card" jdbcType="VARCHAR" property="workerIdCard" />
		<result column="w_career_card" jdbcType="VARCHAR" property="careerCard" />
		<result column="w_phone" jdbcType="VARCHAR" property="phone" />
		<result column="w_current_job" jdbcType="VARCHAR" property="currentJob" />
		<result column="w_worker_address" jdbcType="VARCHAR" property="workerAddress" />
		<result column="w_worker_handicap_code" jdbcType="VARCHAR" property="workerHandicapCode" />
		<result column="w_remark" jdbcType="VARCHAR" property="remark" />
		<result column="w_create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="w_update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="w_user_id" jdbcType="INTEGER" property="userId" />
		<result column="w_is_active" jdbcType="BIT" property="isActive" />
		<result column="w_version" jdbcType="INTEGER" property="version" />
		<!-- handicap type -->
		<result column="t_id" property="workerHandicapType.id" jdbcType="INTEGER" />
		<result column="t_handicap_type" property="workerHandicapType.handicapType" jdbcType="VARCHAR" />
		<!-- handicap level -->
		<result column="l_id" property="workerHandicapLevel.id" jdbcType="INTEGER" />
		<result column="l_handicap_level" property="workerHandicapLevel.handicapLevel" jdbcType="VARCHAR" />
		<!-- area -->
		<result column="a_code" property="area.code" jdbcType="CHAR" />
		<result column="a_name" property="area.name" jdbcType="VARCHAR" />
	</resultMap>

	<!-- result of workers view model -->
	<resultMap id="ResultWorkerViewModel" type="com.esd.hesf.viewmodels.WorkerViewModel">
		<id column="w_id" jdbcType="INTEGER" property="id" />
		<result column="w_worker_name" jdbcType="VARCHAR" property="workerName" />
		<result column="w_worker_gender" jdbcType="VARCHAR" property="workerGender" />
		<result column="w_worker_birth" jdbcType="VARCHAR" property="workerBirth" />
		<result column="w_worker_id_card" jdbcType="VARCHAR" property="workerIdCard" />
		<result column="w_career_card" jdbcType="VARCHAR" property="careerCard" />
		<result column="w_phone" jdbcType="VARCHAR" property="phone" />
		<result column="w_current_job" jdbcType="VARCHAR" property="currentJob" />
		<result column="w_worker_address" jdbcType="VARCHAR" property="workerAddress" />
		<result column="w_worker_handicap_code" jdbcType="VARCHAR" property="workerHandicapCode" />
		<result column="w_remark" jdbcType="VARCHAR" property="remark" />
		<result column="w_create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="w_update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="w_user_id" jdbcType="INTEGER" property="userId" />
		<result column="w_is_active" jdbcType="BIT" property="isActive" />
		<result column="w_version" jdbcType="INTEGER" property="version" />
		<!-- handicap type -->
		<result column="t_id" property="workerHandicapType.id" jdbcType="INTEGER" />
		<result column="t_handicap_type" property="workerHandicapType.handicapType" jdbcType="VARCHAR" />
		<!-- handicap level -->
		<result column="l_id" property="workerHandicapLevel.id" jdbcType="INTEGER" />
		<result column="l_handicap_level" property="workerHandicapLevel.handicapLevel" jdbcType="VARCHAR" />
		<!-- area -->
		<result column="a_code" property="area.code" jdbcType="CHAR" />
		<result column="a_name" property="area.name" jdbcType="VARCHAR" />
		<!-- company -->
		<result column="c_id" jdbcType="VARCHAR" property="company.id" />
		<result column="c_year" jdbcType="CHAR" property="company.year" />
		<result column="c_company_code" jdbcType="VARCHAR" property="company.companyCode" />
		<result column="c_company_name" jdbcType="VARCHAR" property="company.companyName" />
		<result column="c_company_legal" jdbcType="VARCHAR" property="company.companyLegal" />
		<result column="c_company_contact_person" jdbcType="VARCHAR" property="company.companyContactPerson" />
		<result column="c_company_organization_code" jdbcType="VARCHAR"
			property="company.companyOrganizationCode" />
		<result column="c_company_tax_code" jdbcType="VARCHAR" property="company.companyTaxCode" />
		<result column="c_company_address" jdbcType="VARCHAR" property="company.companyAddress" />
		<result column="c_company_zip_code" jdbcType="CHAR" property="company.companyZipCode" />
		<result column="c_company_phone" jdbcType="VARCHAR" property="company.companyPhone" />
		<result column="c_company_mobile" jdbcType="VARCHAR" property="company.companyMobile" />
	</resultMap>

	<!-- company -->
	<sql id="Column_List_company">
		c_id, c_year, c_company_code, c_company_name, c_company_legal, c_company_organization_code,
		c_company_contact_person,
		c_company_tax_code, c_company_address, c_company_zip_code, c_company_phone, c_company_mobile,
		c_company_bank, c_company_bank_account, c_company_remark, c_create_time, c_update_time, c_user_id, c_is_active,
		c_version
	</sql>

	<!-- worker -->
	<sql id="Column_List_worker">
		w_id, w_worker_name, w_worker_gender, w_worker_birth, w_worker_id_card, 
		w_career_card, w_phone, w_current_job, w_worker_address,
		w_worker_handicap_code, w_remark, w_create_time, w_update_time,
		w_user_id, w_is_active, w_version
		<!-- handicap type -->
		t_id, t_handicap_type,
		<!-- handicap level -->
		l_id, l_handicap_level,
		<!-- area -->
		a_code, a_name
	</sql>

	<!-- retrieve workers of a company -->
	<select id="retrieveWorkerByCompany" parameterType="map" resultMap="ResultWorker">
		select 
		<include refid="Column_List_worker"/> 
		from company_worker_view 
		<trim prefix="where" prefixOverrides="and|or">
			<if test="companyId != null and companyId != ''">
				c_id = #{companyId} 
			</if>
			<if test="year != null and year != ''">
				and c_year = #{year,jdbcType=VARCHAR}
			</if>
			<if test="companyCode != null and companyCode != ''">
				and c_company_code = #{companyCode,jdbcType=VARCHAR}
			</if>
			<if test="workerName != null and workerName != ''">
				and w_worker_name like concat('%', #{workerName},'%')
			</if>
			<if test="workerHandicapCode != null and workerHandicapCode != ''">
				and w_worker_handicap_code like concat('%', #{workerHandicapCode},'%')
			</if>
			<if test="workerGender != null and workerGender != ''">
				and w_worker_gender = #{workerGender}
			</if>
			<!-- age scope -->
			<if test="minBirth != null">
				and w_worker_birth_year &lt;= #{minBirth} 
			</if>
			<if test="maxBirth != null">
				and w_worker_birth_year &gt;= #{maxBirth} 
			</if>
			<if test="phone != null and phone != ''">
				and w_phone like concat('%', #{phone},'%')
			</if>
			<if test="workerHandicapType != null and workerHandicapType > 0">
				and t_id = #{workerHandicapType}
			</if>
			<if test="workerHandicapLevel != null and workerHandicapLevel > 0">
				and l_id = #{workerHandicapLevel}
			</if>
		</trim>
		order by w_update_time desc 
		limit #{start},#{size}
	</select>
	
	<select id="retrieveCount" parameterType="map" resultType="int">
		select count(*) 
		from company_worker_view 
		<trim prefix="where" prefixOverrides="and|or">
			<if test="companyId != null and companyId != ''">
				c_id = #{companyId} 
			</if>
			<if test="year != null and year != ''">
				c_year = #{year,jdbcType=VARCHAR}
			</if>
			<if test="companyCode != null and companyCode != ''">
				and c_company_code = #{companyCode,jdbcType=VARCHAR}
			</if>
			<if test="workerName != null and workerName != ''">
				and w_worker_name like concat('%', #{workerName},'%')
			</if>
			<if test="workerHandicapCode != null and workerHandicapCode != ''">
				and w_worker_handicap_code like concat('%', #{workerHandicapCode},'%')
			</if>
			<if test="workerGender != null and workerGender != ''">
				and w_worker_gender = #{workerGender}
			</if>
			<!-- age scope -->
			<if test="minBirth != null">
				and w_worker_birth_year &lt;= #{minBirth} 
			</if>
			<if test="maxBirth != null">
				and w_worker_birth_year &gt;= #{maxBirth} 
			</if>
			<if test="phone != null and phone != ''">
				and w_phone like concat('%', #{phone},'%')
			</if>
			<if test="workerHandicapType != null and workerHandicapType > 0">
				and t_id = #{workerHandicapType}
			</if>
			<if test="workerHandicapLevel != null and workerHandicapLevel > 0">
				and l_id = #{workerHandicapLevel}
			</if>
		</trim>
	</select>
	
	<!-- retrieve for worker view model -->
	<select id="retrieveWorkerByWorker" parameterType="map" resultMap="ResultWorkerViewModel">
		select 
		<include refid="Column_List_worker"/>,
		<include refid="Column_List_company" />
		from company_worker_view 
		<trim prefix="where" prefixOverrides="and|or">
			<if test="year != null and year != ''">
				cyw_year = #{year}
			</if>
			<if test="workerHandicapCode != null and workerHandicapCode != ''">
				and w_worker_handicap_code like concat('%', #{workerHandicapCode},'%')
			</if>
			<if test="careerCard != null and careerCard != ''">
				and w_career_card like concat('%', #{careerCard},'%')
			</if>
			<if test="workerName != null and workerName != ''">
				and w_worker_name like concat('%', #{workerName},'%')
			</if>
			<if test="workerGender != null and workerGender != ''">
				and w_worker_gender = #{workerGender}
			</if>
			<if test="currentJob != null and currentJob != ''">
				and w_current_job like concat('%', #{currentJob},'%')
			</if>
			<!-- age scope -->
			<if test="minBirth != null">
				and w_worker_birth_year &lt;= #{minBirth} 
			</if>
			<if test="maxBirth != null">
				and w_worker_birth_year &gt;= #{maxBirth} 
			</if>
			<if test="workerHandicapType != null and workerHandicapType > 0">
				and t_id = #{workerHandicapType}
			</if>
			<if test="workerHandicapLevel != null and workerHandicapLevel > 0">
				and l_id = #{workerHandicapLevel}
			</if>
		</trim>
		limit #{start},#{size}
	</select>
	
	<select id="retrieveWorkerByWorkerCount" parameterType="map" resultType="int">
		select count(*)
		from company_worker_view 
		<trim prefix="where" prefixOverrides="and|or">
			<if test="year != null and year != ''">
				cyw_year = #{year}
			</if>
			<if test="workerHandicapCode != null and workerHandicapCode != ''">
				and w_worker_handicap_code like concat('%', #{workerHandicapCode},'%')
			</if>
			<if test="careerCard != null and careerCard != ''">
				and w_career_card like concat('%', #{careerCard},'%')
			</if>
			<if test="workerName != null and workerName != ''">
				and w_worker_name like concat('%', #{workerName},'%')
			</if>
			<if test="workerGender != null and workerGender != ''">
				and w_worker_gender = #{workerGender}
			</if>
			<if test="currentJob != null and currentJob != ''">
				and w_current_job like concat('%', #{currentJob},'%')
			</if>
			<!-- age scope -->
			<if test="minBirth != null">
				and w_worker_birth_year &lt;= #{minBirth} 
			</if>
			<if test="maxBirth != null">
				and w_worker_birth_year &gt;= #{maxBirth} 
			</if>
			<if test="workerHandicapType != null and workerHandicapType > 0">
				and t_id = #{workerHandicapType}
			</if>
			<if test="workerHandicapLevel != null and workerHandicapLevel > 0">
				and l_id = #{workerHandicapLevel}
			</if>
		</trim>
	</select>

	<!-- retrieve company by worker-->
	<select id="retrieveCompanyByWorker" parameterType="map" resultMap="ResultCompany">
		select 
		<include refid="Column_List_company" />
		from company_worker_view 
		<trim prefix="where" prefixOverrides="and|or">
			<if test="year != null and year != ''">
				cyw_year = #{year}
			</if>
			<if test="workerHandicapCode != null and workerHandicapCode != ''">
				and w_worker_handicap_code = #{workerHandicapCode} 
			</if>
			<if test="workerIdCard != null and workerIdCard != ''">
				and w_worker_id_card = #{workerIdCard} 
			</if>
		</trim>
	</select>
	
	<!-- retrieve retired workers of a company -->
	<select id="retrieveRetiredWorkerByCompany" parameterType="map" resultMap="ResultWorker">
		select 
		<include refid="Column_List_worker"/> 
		from company_worker_view 
		<trim prefix="where" prefixOverrides="and|or">
			<if test="companyId != null and companyId != ''">
				c_id = #{companyId} 
			</if>
			<if test="year != null and year != ''">
				and c_year = #{year,jdbcType=VARCHAR}
			</if>
			<if test="companyCode != null and companyCode != ''">
				and c_company_code = #{companyCode,jdbcType=VARCHAR}
			</if>
			<!-- age scope -->
			<if test="maxMaleBirth != null">
				and (w_worker_birth_year &lt;= #{maxMaleBirth} and w_worker_gender = 1)  
			</if>
			<if test="maxFemaleBirth != null">
				or (w_worker_birth_year &lt;= #{maxFemaleBirth} and w_worker_gender = 0)
			</if>
		</trim>
		order by w_worker_name desc 
		limit #{start},#{size}
	</select>
	
	<select id="retrieveRetiredWorkerByCompanyCount" parameterType="map" resultType="int">
		select count(*)
		from company_worker_view 
		<trim prefix="where" prefixOverrides="and|or">
			<if test="companyId != null and companyId != ''">
				c_id = #{companyId} 
			</if>
			<if test="year != null and year != ''">
				and c_year = #{year,jdbcType=VARCHAR}
			</if>
			<if test="companyCode != null and companyCode != ''">
				and c_company_code = #{companyCode,jdbcType=VARCHAR}
			</if>
			<!-- age scope -->
			<if test="maxMaleBirth != null">
				and (w_worker_birth_year &lt;= #{maxMaleBirth} and w_worker_gender = 1)  
			</if>
			<if test="maxFemaleBirth != null">
				or (w_worker_birth_year &lt;= #{maxFemaleBirth} and w_worker_gender = 0)
			</if>
		</trim>
	</select>
	
	
	<!-- create view sql -->
	<select id="ooxx">
		create view company_worker_view
		as
		(select c.id as c_id, c.year as c_year, c.company_code as c_company_code, c.company_name as c_company_name, c.company_legal as c_company_legal, 
				c.company_contact_person as c_company_contact_person,
				c.company_organization_code as c_company_organization_code, c.company_tax_code as c_company_tax_code,
				c.company_address as c_company_address, c.company_zip_code as c_company_zip_code, 
				c.company_phone as c_company_phone, c.company_mobile as c_company_mobile, 
				c.company_bank as c_company_bank, c.company_bank_account as c_company_bank_account,
				c.company_remark as c_company_remark, c.company_emp_total as c_company_emp_total, 
				c.company_handicap_total as c_company_handicap_total, c.create_time as c_create_time, 
				c.update_time as c_update_time, c.user_id as c_user_id, c.is_active as c_is_active, c.version as c_version,
		cyw.id as cyw_id, cyw.year as cyw_year, cyw.worker_id as cyw_worker_id, cyw.company_code as cyw_company_code,
				cyw.current_job as cyw_current_job, cyw.create_time as cyw_create_time, cyw.update_time as cyw_update_time,
				cyw.is_active as cyw_is_active, cyw.user_id as cyw_user_id,
		w.id as w_id, w.worker_name as w_worker_name, w.worker_gender as
				w_worker_gender, w.worker_birth as w_worker_birth, w.worker_birth_year as w_worker_birth_year, w.worker_id_card as
				w_worker_id_card, w.career_card as w_career_card, w.phone as w_phone,
				w.current_job as w_current_job, w.worker_address as w_worker_address,
				w.worker_handicap_code as w_worker_handicap_code, w.remark as w_remark,
				w.create_time as w_create_time, w.update_time as w_update_time,
				w.user_id as w_user_id, w.is_active as w_is_active, w.version as w_version,
		t.id as t_id, t.handicap_type as t_handicap_type,
		l.id as l_id, l.handicap_level as l_handicap_level,
		a.code as a_code, a.name as a_name
		from company as c, company_year_worker as cyw ,worker as w, worker_handicap_type as t, worker_handicap_level as l, area as a
		where c.company_code = cyw.company_code and c.year = cyw.year and cyw.worker_id = w.id and w.worker_handicap_type = t.id and w.worker_handicap_level = l.id and w.area_code = a.code)
	</select>
</mapper>