<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esd.hesf.dao.CompanyLogDao">

	<resultMap id="ResultCompanyLog" type="com.esd.hesf.model.CompanyLog">
		<id column="c_log_id" jdbcType="INTEGER" property="logId" />
		<result column="c_id" jdbcType="INTEGER" property="id" />
		<result column="c_company_code" jdbcType="VARCHAR" property="companyCode" />
		<result column="c_company_management" jdbcType="VARCHAR" property="companyManagement" />
		<result column="c_company_name" jdbcType="VARCHAR" property="companyName" />
		<result column="c_company_legal" jdbcType="VARCHAR" property="companyLegal" />
		<result column="c_company_contact_person" jdbcType="VARCHAR" property="companyContactPerson" />
		<result column="c_company_organization_code" jdbcType="VARCHAR" property="companyOrganizationCode" />
		<result column="c_company_tax_code" jdbcType="VARCHAR" property="companyTaxCode" />
		<result column="c_company_address" jdbcType="VARCHAR" property="companyAddress" />
		<result column="c_company_zip_code" jdbcType="CHAR" property="companyZipCode" />
		<result column="c_company_phone" jdbcType="VARCHAR" property="companyPhone" />
		<result column="c_company_fax" jdbcType="CHAR" property="companyFax" />
		<result column="c_company_mobile" jdbcType="VARCHAR" property="companyMobile" />
		<result column="c_company_bank" jdbcType="VARCHAR" property="companyBank" />
		<result column="c_company_bank_account" jdbcType="VARCHAR" property="companyBankAccount" />
		<result column="c_company_remark" jdbcType="VARCHAR" property="companyRemark" />
		<result column="c_create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="c_update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="c_user_id" jdbcType="INTEGER" property="userId" />
		<result column="c_is_active" jdbcType="BIT" property="isActive" />
		<result column="c_version" jdbcType="INTEGER" property="version" />
		<association property="companyType" javaType="com.esd.hesf.model.CompanyType" resultMap="ResultCompanyType" />
		<association property="companyEconomyType" javaType="com.esd.hesf.model.CompanyEconomyType" resultMap="ResultCompanyEconomyType" />
		<association property="companyProperty" javaType="com.esd.hesf.model.CompanyProperty" resultMap="ResultCompanyProperty" />
		<association property="area" javaType="com.esd.hesf.model.Area" resultMap="ResultArea" />
	</resultMap>

	<!-- company type -->
	<resultMap id="ResultCompanyType" type="com.esd.hesf.model.CompanyType">
		<id column="t_id" jdbcType="INTEGER" property="id" />
		<result column="t_company_type" jdbcType="VARCHAR" property="companyType" />
	</resultMap>

	<!-- company economy type -->
	<resultMap id="ResultCompanyEconomyType" type="com.esd.hesf.model.CompanyEconomyType">
		<id column="et_id" property="id" jdbcType="INTEGER" />
		<result column="et_company_economy_type" property="companyEconomyType" jdbcType="VARCHAR" />
	</resultMap>

	<!-- company property -->
	<resultMap id="ResultCompanyProperty" type="com.esd.hesf.model.CompanyProperty">
		<id column="p_id" property="id" jdbcType="INTEGER" />
		<result column="p_company_property" property="companyProperty" jdbcType="VARCHAR" />
	</resultMap>

	<!-- area -->
	<resultMap id="ResultArea" type="com.esd.hesf.model.Area">
		<id column="a_code" property="code" jdbcType="CHAR" />
		<result column="a_name" property="name" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		<!-- company -->
		c.log_id as c_log_id, c.id as c_id, c.company_code as c_company_code,
		c.company_management as c_company_management,
		c.company_name as c_company_name, c.company_legal as c_company_legal,
		c.company_contact_person as c_company_contact_person,
		c.company_organization_code as c_company_organization_code, c.company_tax_code as c_company_tax_code,
		c.company_address as c_company_address, c.company_zip_code as c_company_zip_code,
		c.company_fax as c_company_fax,
		c.company_phone as c_company_phone, c.company_mobile as c_company_mobile,
		c.company_bank as c_company_bank, c.company_bank_account as c_company_bank_account,
		c.company_remark as c_company_remark, c.create_time as c_create_time,
		c.update_time as c_update_time, c.user_id as c_user_id, c.is_active as c_is_active, c.version as c_version,
		<!-- type -->
		t.id as t_id, t.company_type as t_company_type,
		<!-- economy type -->
		et.id as et_id, et.company_economy_type as et_company_economy_type,
		<!-- property -->
		p.id as p_id, p.company_property as p_company_property,
		<!-- area -->
		a.code as a_code, a.name as a_name
	</sql>

	<sql id="From_condition_list">
		company_log as c, company_type as t, company_economy_type as et, company_property as p, area as a
	</sql>

	<sql id="Where_condition_list">
		c.company_type = t.id and c.company_economy_type = et.id and c.company_property = p.id and c.area_code = a.code
	</sql>

	<!-- insert -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="logId" parameterType="com.esd.hesf.model.CompanyLog">
		<selectKey keyProperty="logId" order="AFTER" resultType="java.lang.Integer">
			select last_insert_id()
		</selectKey>
		insert into company_log (
		id,
		company_code,
		company_management,
		company_name,
		company_legal, company_contact_person,
		company_organization_code, company_tax_code,
		company_address, company_zip_code,company_fax,
		company_type, company_economy_type,
		company_property,
		area_code, company_phone, company_mobile,
		company_bank,
		company_bank_account, company_remark,
		create_time, update_time, user_id,
		is_active,version)
		values
		(
		#{id,jdbcType=INTEGER},
		#{companyCode,jdbcType=VARCHAR},
		#{companyManagement,jdbcType=VARCHAR},
		#{companyName,jdbcType=VARCHAR},
		#{companyLegal,jdbcType=VARCHAR},#{companyContactPerson,jdbcType=VARCHAR},
		#{companyOrganizationCode,jdbcType=VARCHAR},
		#{companyTaxCode,jdbcType=VARCHAR}, #{companyAddress,jdbcType=VARCHAR},
		#{companyZipCode,jdbcType=INTEGER},#{companyFax,jdbcType=VARCHAR},
		#{companyType.id,jdbcType=INTEGER},
		#{companyEconomyType.id,jdbcType=INTEGER}, #{companyProperty.id,jdbcType=INTEGER},
		#{area.code,jdbcType=VARCHAR}, #{companyPhone,jdbcType=VARCHAR},
		#{companyMobile,jdbcType=INTEGER},
		#{companyBank,jdbcType=VARCHAR},
		#{companyBankAccount,jdbcType=INTEGER}, #{companyRemark,jdbcType=VARCHAR},
		now(),now(),
		#{userId,jdbcType=INTEGER},
		default,default)
	</insert>

	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="logId" parameterType="com.esd.hesf.model.CompanyLog">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="logId">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into company_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="companyCode != null">
				company_code,
			</if>
			<if test="companyManagement != null">
				company_management,
			</if>
			<if test="companyName != null">
				company_name,
			</if>
			<if test="companyLegal != null">
				company_legal,
			</if>
			<if test="companyContactPerson != null">
				company_contact_person,
			</if>
			<if test="companyOrganizationCode != null">
				company_organization_code,
			</if>
			<if test="companyTaxCode != null">
				company_tax_code,
			</if>
			<if test="companyAddress != null">
				company_address,
			</if>
			<if test="companyZipCode != null">
				company_zip_code,
			</if>
			<if test="companyFax != null">
				company_fax,
			</if>
			<if test="companyType != null">
				<if test="companyType.id != null and companyType.id > 0">
					company_type,
				</if>
			</if>
			<if test="companyEconomyType != null">
				<if test="companyEconomyType.id != null and companyEconomyType.id > 0">
					company_economy_type,
				</if>
			</if>
			<if test="companyProperty != null">
				<if test="companyProperty.id != null and companyProperty.id > 0">
					company_property,
				</if>
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					area_code,
				</if>
			</if>
			<if test="companyPhone != null">
				company_phone,
			</if>
			<if test="companyMobile != null">
				company_mobile,
			</if>
			<if test="companyBank != null">
				company_bank,
			</if>
			<if test="companyBankAccount != null">
				company_bank_account,
			</if>
			<if test="companyRemark != null">
				company_remark,
			</if>
			create_time, update_time,
			<if test="userId != null and userId > 0">
				user_id,
			</if>
			<if test="isActive != null">
				is_active,
			</if>
			version
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="companyCode != null and companyCode != ''">
				#{companyCode,jdbcType=VARCHAR},
			</if>
			<if test="companyManagement != null">
				#{companyManagement,jdbcType=VARCHAR},
			</if>
			<if test="companyName != null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="companyLegal != null">
				#{companyLegal,jdbcType=VARCHAR},
			</if>
			<if test="companyContactPerson != null">
				#{companyContactPerson,jdbcType=VARCHAR},
			</if>
			<if test="companyOrganizationCode != null">
				#{companyOrganizationCode,jdbcType=VARCHAR},
			</if>
			<if test="companyTaxCode != null">
				#{companyTaxCode,jdbcType=VARCHAR},
			</if>
			<if test="companyAddress != null">
				#{companyAddress,jdbcType=VARCHAR},
			</if>
			<if test="companyZipCode != null">
				#{companyZipCode,jdbcType=INTEGER},
			</if>
			<if test="companyFax != null">
				#{companyFax,jdbcType=VARCHAR},
			</if>
			<if test="companyType != null">
				<if test="companyType.id != null and companyType.id > 0">
					#{companyType.id,jdbcType=INTEGER},
				</if>
			</if>
			<if test="companyEconomyType != null">
				<if test="companyEconomyType.id != null and companyEconomyType.id > 0">
					#{companyEconomyType.id,jdbcType=INTEGER},
				</if>
			</if>
			<if test="companyProperty != null">
				<if test="companyProperty.id != null and companyProperty.id > 0">
					#{companyProperty.id,jdbcType=INTEGER},
				</if>
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					#{area.code,jdbcType=VARCHAR},
				</if>
			</if>
			<if test="companyPhone != null">
				#{companyPhone,jdbcType=VARCHAR},
			</if>
			<if test="companyMobile != null">
				#{companyMobile,jdbcType=INTEGER},
			</if>
			<if test="companyBank != null">
				#{companyBank,jdbcType=VARCHAR},
			</if>
			<if test="companyBankAccount != null">
				#{companyBankAccount,jdbcType=INTEGER},
			</if>
			<if test="companyRemark != null">
				#{companyRemark,jdbcType=VARCHAR},
			</if>
			now(),now(),
			<if test="userId != null and userId > 0">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="isActive != null">
				#{isActive,jdbcType=BIT},
			</if>
			default
		</trim>
	</insert>

	<!-- delete -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from company_log
		where log_id = #{logId,jdbcType=INTEGER}
	</delete>

	<!-- update -->
	<update id="updateByPrimaryKey" parameterType="com.esd.hesf.model.CompanyLog">
		update company_log
		<set>
			<if test="id != null and id > 0">
				id = #{id, jdbcType=INTEGER},
			</if>
			<if test="companyCode != null and companyCode != ''">
				company_code = #{companyCode,jdbcType=VARCHAR},
			</if>
			<if test="companyName != null">
				company_name = #{companyName,jdbcType=VARCHAR},
			</if>
			<if test="companyManagement != null">
				company_management = #{companyManagement,jdbcType=VARCHAR},
			</if>
			<if test="companyLegal != null">
				company_legal = #{companyLegal,jdbcType=VARCHAR},
			</if>
			<if test="companyContactPerson != null">
				company_contact_person = #{companyContactPerson,jdbcType=VARCHAR},
			</if>
			<if test="companyOrganizationCode != null">
				company_organization_code =
				#{companyOrganizationCode,jdbcType=VARCHAR},
			</if>
			<if test="companyTaxCode != null">
				company_tax_code = #{companyTaxCode,jdbcType=VARCHAR},
			</if>
			<if test="companyAddress != null">
				company_address = #{companyAddress,jdbcType=VARCHAR},
			</if>
			<if test="companyZipCode != null">
				company_zip_code = #{companyZipCode,jdbcType=INTEGER},
			</if>
			<if test="companyFax != null">
				company_fax = #{companyFax,jdbcType=VARCHAR},
			</if>
			<if test="companyType != null">
				<if test="companyType.id != null and companyType.id > 0">
					company_type = #{companyType.id,jdbcType=INTEGER},
				</if>
			</if>
			<if test="companyEconomyType != null">
				<if test="companyEconomyType.id != null and companyEconomyType.id > 0">
					company_economy_type = #{companyEconomyType.id,jdbcType=INTEGER},
				</if>
			</if>
			<if test="companyProperty != null">
				<if test="companyProperty.id != null and companyProperty.id > 0">
					company_property = #{companyProperty.id,jdbcType=INTEGER},
				</if>
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					area_code = #{area.code,jdbcType=VARCHAR},
				</if>
			</if>
			<if test="companyPhone != null">
				company_phone = #{companyPhone,jdbcType=VARCHAR},
			</if>
			<if test="companyMobile != null">
				company_mobile = #{companyMobile,jdbcType=INTEGER},
			</if>
			<if test="companyBank != null">
				company_bank = #{companyBank,jdbcType=VARCHAR},
			</if>
			<if test="companyBankAccount != null">
				company_bank_account = #{companyBankAccount,jdbcType=INTEGER},
			</if>
			<if test="companyRemark != null">
				company_remark = #{companyRemark,jdbcType=VARCHAR},
			</if>
			update_time = now(),
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="isActive != null">
				is_active = #{isActive,jdbcType=BIT},
			</if>
			version = version + 1
		</set>
		where log_id = #{logId,jdbcType=INTEGER} and version = #{version}
	</update>

	<!-- retrieve -->
	<select id="retrieveByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultCompanyLog">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="From_condition_list" />
		where
		<include refid="Where_condition_list" />
		and c.log_id = #{logId,jdbcType=INTEGER}
	</select>
	
	<select id="retrieveByPage" parameterType="map" resultMap="ResultCompanyLog">
		select
			<include refid="Base_Column_List" />
		from
			<include refid="From_condition_list" />
		<trim prefix="where" prefixOverrides="and|or">
			<include refid="Where_condition_list" />
			<if test="companyLog != null">
				<if test="companyLog.id != null and companyLog.id > 0">
					and c.id = #{companyLog.id, jdbcType=INTEGER},
				</if>
				<if test="companyLog.companyCode != null and companyLog.companyCode != ''">
					and c.company_code like concat('%', #{companyLog.companyCode,jdbcType=VARCHAR},'%')
				</if>
				<if test="companyLog.companyName != null and companyLog.companyName != ''">
					and c.company_name like concat('%',#{companyLog.companyName,jdbcType=VARCHAR},'%')
				</if>
				<if test="companyLog.companyType != null">
					<if test="companyLog.companyType.id != null and companyLog.companyType.id > 0">
						and c.company_type = #{companyLog.companyType.id,jdbcType=INTEGER}
					</if>
				</if>
				<if test="companyLog.companyEconomyType != null">
					<if test="companyLog.companyEconomyType.id != null and companyLog.companyEconomyType.id > 0">
						and c.company_economy_type = #{companyLog.companyEconomyType.id,jdbcType=INTEGER}
					</if>
				</if>
				<if test="companyLog.companyProperty != null">
					<if test="companyLog.companyProperty.id != null and companyLog.companyProperty.id > 0">
						and c.company_property = #{companyLog.companyProperty.id,jdbcType=INTEGER}
					</if>
				</if>
				<if test="companyLog.area != null">
					<if test="companyLog.area.code != null and companyLog.area.code != ''">
						and c.area_code = #{companyLog.area.code,jdbcType=VARCHAR} 
					</if>
				</if>
				<if test="companyLog.companyTaxCode!= null and companyLog.companyTaxCode != ''">
					and c.company_tax_code like concat('%',#{companyLog.companyTaxCode,jdbcType=VARCHAR},'%')
				</if>
				<if test="companyLog.companyLegal!= null and companyLog.companyLegal != ''">
					and c.company_legal like concat('%',#{companyLog.companyLegal,jdbcType=VARCHAR},'%')
				</if>
				<if test="companyLog.companyOrganizationCode != null and companyLog.companyOrganizationCode != ''">
					and c.company_organization_code like concat('%',#{companyLog.companyOrganizationCode,jdbcType=VARCHAR},'%')
				</if>
				<if test="companyLog.companyAddress != null and companyLog.companyAddress != ''">
					and c.company_address like concat('%',#{companyLog.companyAddress},'%')
				</if>
				<if test="companyLog.userId != null and companyLog.userId > 0">
					and c.user_id = #{companyLog.userId,jdbcType=INTEGER}
				</if>
			</if>
		</trim>
		order by c.company_code
		limit #{start},#{size}
	</select>

	<select id="retrieveCount" parameterType="map" resultType="java.lang.Integer">
		select count(*)
		from
		<include refid="From_condition_list" />
		<trim prefix="where" prefixOverrides="and|or">
			<include refid="Where_condition_list" />
			<if test="companyLog != null">
				<if test="companyLog.id != null and companyLog.id > 0">
					and c.id = #{companyLog.id, jdbcType=INTEGER},
				</if>
				<if test="companyLog.companyCode != null and companyLog.companyCode != ''">
					and c.company_code like concat('%', #{companyLog.companyCode,jdbcType=VARCHAR},'%')
				</if>
				<if test="companyLog.companyName != null and companyLog.companyName != ''">
					and c.company_name like concat('%',#{companyLog.companyName,jdbcType=VARCHAR},'%')
				</if>
				<if test="companyLog.companyType != null">
					<if test="companyLog.companyType.id != null and companyLog.companyType.id > 0">
						and c.company_type = #{companyLog.companyType.id,jdbcType=INTEGER}
					</if>
				</if>
				<if test="companyLog.companyEconomyType != null">
					<if test="companyLog.companyEconomyType.id != null and companyLog.companyEconomyType.id > 0">
						and c.company_economy_type = #{companyLog.companyEconomyType.id,jdbcType=INTEGER}
					</if>
				</if>
				<if test="companyLog.companyProperty != null">
					<if test="companyLog.companyProperty.id != null and companyLog.companyProperty.id > 0">
						and c.company_property = #{companyLog.companyProperty.id,jdbcType=INTEGER}
					</if>
				</if>
				<if test="companyLog.area != null">
					<if test="companyLog.area.code != null and companyLog.area.code != ''">
						and c.area_code = #{companyLog.area.code,jdbcType=VARCHAR} 
					</if>
				</if>
				<if test="companyLog.companyTaxCode!= null and companyLog.companyTaxCode != ''">
					and c.company_tax_code like concat('%',#{companyLog.companyTaxCode,jdbcType=VARCHAR},'%')
				</if>
				<if test="companyLog.companyLegal!= null and companyLog.companyLegal != ''">
					and c.company_legal like concat('%',#{companyLog.companyLegal,jdbcType=VARCHAR},'%')
				</if>
				<if test="companyLog.companyOrganizationCode != null and companyLog.companyOrganizationCode != ''">
					and c.company_organization_code like concat('%',#{companyLog.companyOrganizationCode,jdbcType=VARCHAR},'%')
				</if>
				<if test="companyLog.companyAddress != null and companyLog.companyAddress != ''">
					and c.company_address like concat('%',#{companyLog.companyAddress},'%')
				</if>
				<if test="companyLog.userId != null and companyLog.userId > 0">
					and c.user_id = #{companyLog.userId,jdbcType=INTEGER}
				</if>
			</if>
		</trim>
	</select>

</mapper>