<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esd.hesf.dao.ReplyDao">
	<resultMap id="BaseResultMap" type="com.esd.hesf.model.Reply">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="is_active" property="isActive" jdbcType="BIT" />
		<result column="version" property="version" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		id, title, content, create_time, update_time, user_id, is_active, version
	</sql>

	<!-- insert -->
	<insert id="insert" parameterType="com.esd.hesf.model.Reply">
		insert into reply (title, content, create_time,
		update_time, user_id, is_active,
		version)
		values (#{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
		now(),now(),
		#{userId,jdbcType=INTEGER},default, default)
	</insert>

	<insert id="insertSelective" parameterType="com.esd.hesf.model.Reply">
		insert into reply
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title != null">
				title,
			</if>
			<if test="content != null">
				content,
			</if>
			create_time, update_time,
			<if test="userId != null">
				user_id,
			</if>
			<if test="isActive != null">
				is_active,
			</if>
			version,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="auditProcessStatus != null">
				#{auditProcessStatus,jdbcType=VARCHAR},
			</if>
			now(),now(),
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="isActive != null">
				#{isActive,jdbcType=BIT},
			</if>
			default
		</trim>
	</insert>

	<!-- delete -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from reply
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<!-- update -->
	<update id="updateByPrimaryKey" parameterType="com.esd.hesf.model.Reply">
		update reply
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			update_time = now(),
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="isActive != null">
				is_active = #{isActive,jdbcType=BIT},
			</if>
			version = version + 1
		</set>
		where id = #{id,jdbcType=INTEGER} and version = #{version,jdbcType=INTEGER}
	</update>

	<!-- select -->
	<select id="retrieveByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from reply
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="retrieveByPage" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from reply
		<where>
			<if test="reply != null">
				<if test="reply.title != null and reply.title != ''">
					title like concat('%',#{reply.title,jdbcType=VARCHAR},'%')
				</if>
			</if>
		</where>
		order by id
		<!-- not include no comment -->
		limit 1,#{size}
	</select>
	
	<select id="retrieveCount" resultType="java.lang.Integer" parameterType="map">
		select count(*) 
		from reply
		<where>
			<if test="reply != null">
				<if test="reply.title != null and reply.title != ''">
					title like concat('%',#{reply.title,jdbcType=VARCHAR},'%')
				</if>
			</if>
		</where>
	</select>

</mapper>