<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esd.hesf.dao.UserGroupDao">

	<resultMap id="BaseResultMap" type="com.esd.hesf.model.UserGroup">
		<id column="ug_id" property="id" jdbcType="INTEGER" />
		<result column="ug_user_group_name" property="userGroupName" jdbcType="VARCHAR" />
		<result column="ug_create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="ug_update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="ug_user_id" property="userId" jdbcType="INTEGER" />
		<result column="ug_is_active" property="isActive" jdbcType="BIT" />
		<result column="ug_version" property="version" jdbcType="INTEGER" />
		<association property="permissionType" javaType="com.esd.hesf.model.PermissionType" resultMap="ResultPermissionType" />
	</resultMap>

	<resultMap id="ResultPermissionType" type="com.esd.hesf.model.PermissionType">
		<id column="p_id" property="id" jdbcType="INTEGER" />
		<result column="p_permission_type" property="permissionType" jdbcType="VARCHAR" />
		<result column="p_create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="p_update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="p_user_id" property="userId" jdbcType="INTEGER" />
		<result column="p_is_active" property="isActive" jdbcType="BIT" />
	</resultMap>

	<sql id="Base_Column_List">
		ug.id as ug_id, ug.user_group_name as ug_user_group_name, ug.create_time as ug_create_time, 
		ug.update_time as ug_update_time, ug.user_id as ug_user_id, ug.is_active as ug_is_active, ug.version as ug_version, 
		p.id as p_id, p.permission_type as p_permission_type, p.create_time as p_create_time, 
		p.update_time p_update_time, p.user_id as p_user_id, p.is_active as p_is_active
	</sql>

	<!-- insert -->
	<insert id="insert" parameterType="com.esd.hesf.model.UserGroup">
		insert into user_group
		(permission_type_id, user_group_name, create_time, update_time, 
		user_id, is_active, version)
		values (#{permissionType.id,jdbcType=INTEGER},
		#{userGroupName,jdbcType=VARCHAR},
		now(),now(),
		#{userId,jdbcType=INTEGER}, default,default)
	</insert>

	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.esd.hesf.model.UserGroup">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user_group
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="permissionType != null">
				<if test="permissionType.id != null and permissionType.id > 0">
					permission_type_id,
				</if>
			</if>
			<if test="userGroupName != null">
				user_group_name,
			</if>
			create_time, update_time,
			<if test="userId != null">
				user_id,
			</if>
			<if test="isActive != null">
				is_active,
			</if> version
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="permissionType != null">
				<if test="permissionType.id != null and permissionType.id > 0">
					#{permissionType.id,jdbcType=INTEGER},
				</if>
			</if>
			<if test="userGroupName != null">
				#{userGroupName,jdbcType=VARCHAR},
			</if>
			now(),now(),
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="isActive != null">
				#{isActive,jdbcType=BIT},
			</if>
			default
		</trim>
	</insert>

	<!-- delete -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user_group
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<!-- udpate -->
	<update id="updateByPrimaryKey" parameterType="com.esd.hesf.model.UserGroup">
		update user_group
		<set>
			<if test="permissionType != null">
				<if test="permissionType.id != null and permissionType.id > 0">
					permission_type_id = #{permissionType.id,jdbcType=INTEGER},
				</if>
			</if>
			<if test="userGroupName != null">
				user_group_name = #{userGroupName,jdbcType=VARCHAR},
			</if>
			update_time = now(),
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="isActive != null">
				is_active = #{isActive,jdbcType=BIT},
			</if>
			version = version + 1
		</set>
		where id = #{id,jdbcType=INTEGER} and version = #{version, jdbyType=INTEGER}
	</update>
	
	<!-- retrieve -->
	<select id="retrieveByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user_group as ug, permission_type as p
		where ug.permission_type_id = p.id and ug.id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="retrieveByPage" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from user_group as ug, permission_type as p
		<trim prefix="where" prefixOverrides="and|or">
			ug.permission_type_id = p.id
			<if test="userGroup != null">
				<if test="userGroup.userGroupName != null and userGroup.userGroupName != ''">
					and ug.user_group_name like concat('%',#{userGroup.userGroupName},'%')
				</if>
				<if test="userGroup.isActive != null">
					and ug.is_active = #{userGroup.isActive}
				</if>
				<if test="userGroup.permissionType != null">
					<if test="userGroup.permissionType.id != null and userGroup.permissionType.id > 0">
						and p.id = #{userGroup.permissionType.id}
					</if>
				</if>
			</if>
		</trim>
		order by ug.update_time asc 
		limit #{start}, #{size}
	</select>
	
	<select id="retrieveCount" resultType="int" parameterType="map">
		select count(*) 
		from user_group as ug, permission_type as p
		<trim prefix="where" prefixOverrides="and|or">
			ug.permission_type_id = p.id
			<if test="userGroup != null">
				<if test="userGroup.userGroupName != null and userGroup.userGroupName != ''">
					and ug.user_group_name like concat('%',#{userGroup.userGroupName},'%')
				</if>
				<if test="userGroup.isActive != null">
					and ug.is_active = #{userGroup.isActive}
				</if>
				<if test="userGroup.permissionType != null">
					<if test="userGroup.permissionType.id != null and userGroup.permissionType.id > 0">
						and p.id = #{userGroup.permissionType.id}
					</if>
				</if>
			</if>
		</trim>
	</select>
	
	
</mapper>