<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esd.hesf.dao.WorkerCalculatorDao">

	<resultMap id="BaseResultMap" type="com.esd.hesf.model.WorkerCalculator">
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="per" property="per" jdbcType="DECIMAL" />
		<result column="lvl" property="lvl" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		type,per,lvl
	</sql>

	<!-- retrieve -->
	<select id="retrieveSpecialSetting" resultMap="BaseResultMap" parameterType="java.lang.String">
		select t.type,t.per,t.lvl from (
			select "1" type,eye_one per,1 lvl from audit_parameter
			union all
			select "1" type,eye_two per,2 lvl from audit_parameter
			union all
			select "1" type,eye_three per,3 lvl from audit_parameter
			union all
			select "1" type,eye_four per,4 lvl from audit_parameter
			
			union all
			select "2" type,hearing_one per,1 lvl from audit_parameter
			union all
			select "2" type,hearing_two per,2 lvl from audit_parameter
			union all
			select "2" type,hearing_three per,3 lvl from audit_parameter
			union all
			select "2" type,hearing_four per,4 lvl  from audit_parameter
			
			union all
			select "3" type,body_one per,1 lvl from audit_parameter
			union all
			select "3" type,body_two per,2 lvl from audit_parameter
			union all
			select "3" type,body_three per,3 lvl from audit_parameter
			union all
			select "3" type,body_four per,4 lvl from audit_parameter
			
			union all
			select "4" type,speak_one per,1 lvl from audit_parameter
			union all
			select "4" type,speak_two per,2 lvl from audit_parameter
			union all
			select "4" type,speak_three per,3 lvl from audit_parameter
			union all
			select "4" type,speak_four per,4 lvl from audit_parameter
			
			union all
			select "5" type,intelligence_one per,1 lvl from audit_parameter
			union all
			select "5" type,intelligence_two per,2 lvl from audit_parameter
			union all
			select "5" type,intelligence_three per,3 lvl from audit_parameter
			union all
			select "5" type,intelligence_four per,4 lvl from audit_parameter
			
			union all
			select "6" type,mental_one per,4 lvl from audit_parameter
			union all
			select "6" type,mental_two per,4 lvl from audit_parameter
			union all
			select "6" type,mental_three per,4 lvl from audit_parameter
			union all
			select "6" type,mental_four per,4 lvl from audit_parameter
			
			union all
			select "7" type,multi_one per,4 lvl from audit_parameter
			union all
			select "7" type,multi_two per,4 lvl from audit_parameter
			union all
			select "7" type,multi_three per,4 lvl from audit_parameter
			union all
			select "7" type,multi_four per,4 lvl from audit_parameter
		) as t 
		where t.per &lt;&gt; '1'
	</select>

	<select id="retrieveSpecialCount" resultType="int" parameterType="map">
		select 	count(*)
			from
			(select year, 
				company_code, 
				worker_id
				from 
				hesf.company_year_worker
				where company_code = #{companyCode} and year= #{year} 
			) as a ,worker as b 
		where a.worker_id=b.id and b.worker_handicap_type = #{workerHandicapType} and b.worker_handicap_level = #{workerHandicapLevel} ;
	</select>

</mapper>